<h1>Détail de l'établissement (ID = {{institution.id}}) : <br> </h1>
<div>
  <h2>Catégorie : {{institution.type}}</h2>
  <h2>Nom : {{institution.name}}</h2>
  <h2>Téléphone : {{institution.phone}}</h2>
  <span [routerLink]="['/institution/' , institution.id,'teacher']">
    <button>Gestion des professeurs</button>
  </span>
  <span [routerLink]="['/institution/' , institution.id,'subject']">
    <button>Gestion des matières</button>
  </span>
  <span [routerLink]="['/institution/' , institution.id,'group-class']">
    <button>Gestion des classes</button>
  </span>
  <span [routerLink]="['/institution/' , institution.id,'classroom']">
    <button>Gestion des salles de classe</button>
  </span>
  <br><br><br>
  <button (click)=deleteInstitution()>Delete</button>
</div>
